<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahmetmatematikci.kitapuygulamalari">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>





    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".CameraAPP">
            <intent-filter>
                <action android:name="android.intent.action.CameraAPP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <activity android:name=".GirisEkrani">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".SorCevap">
            <intent-filter>
                <action android:name="android.intent.action.SorCevap" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".KullaniciGirisi">
            <intent-filter>
                <action android:name="android.intent.action.KullaniciGirisi" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".VeriAlisi">
            <intent-filter>
                <action android:name="android.intent.action.VeriAlisi" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".CustomButton">
            <intent-filter>
                <action android:name="android.intent.action.CustomButton" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".HareketAlgilayici">
            <intent-filter>
                <action android:name="android.intent.action.HareketAlgilayici" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".SharedPrefOrnek">
            <intent-filter>
                <action android:name="android.intent.action.SharedPrefOrnek" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".BasitWebTarayici">
            <intent-filter>
                <action android:name="android.intent.action.BasitWebTarayici" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".TabHostOrnek">
            <intent-filter>
                <action android:name="android.intent.action.TabHostOrnek" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ViewDegistir">
            <intent-filter>
                <action android:name="android.intent.action.ViewDegistir" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".Ayarlar">
            <intent-filter>
                <action android:name="android.intent.action.Ayarlar" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".StandartListView">
            <intent-filter>
                <action android:name="android.intent.action.StandartListView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".CustomListView">
            <intent-filter>
                <action android:name="android.intent.action.CustomListView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Hayvan">
            <intent-filter>
                <action android:name="android.intent.action.Hayvan" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".HayvanAdapter">
            <intent-filter>
                <action android:name="android.intent.action.HayvanAdapter" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".ActivityHayatDongusu">
            <intent-filter>
                <action android:name="android.intent.action.ActivityHayatDongusu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <activity android:name=".InternalHafiza">
            <intent-filter>
                <action android:name="android.intent.action.InternalHafiza" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".ExternalHafiza">
            <intent-filter>
                <action android:name="android.intent.action.ExternalHafiza" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".SqliteDatabase">
            <intent-filter>
                <action android:name="android.intent.action.SqliteDatabase" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".sqldatabasegoruntu">
            <intent-filter>
                <action android:name="android.intent.action.sqldatabasegoruntu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityFragment">
            <intent-filter>
                <action android:name="android.intent.action.ActivityFragment" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".FragmentOrnek">
            <intent-filter>
                <action android:name="android.intent.action.FragmentOrnek" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>










    </application>

</manifest>